@import "tailwindcss";

@theme {
  --color-purple: #a280e5;
  --color-purple-pale: #947fb8;
  --color-blue: #7e9cd8;
  --color-blue-light: #7eb4c9;
  --color-red: #ff5d62;
  --color-red-pale: #d27e9a;
  --color-yellow: #e6c384;
  --color-orange: #de935f;
  --color-orange-pale: #cda46c;
  --color-cyan: #7eb4c9;
  --color-teal: #66ffdd;
  --color-teal-deep: #40a592;
  --color-green: #5faf94;
  --color-offwhite: #dcd7ba;
  --color-gray-50: #f3f4f6;
  --color-gray-100: #ece7ea;
  --color-gray-200: #dcd7ba;
  --color-gray-300: #9ca3af;
  --color-gray-400: #657b83;
  --color-gray-500: #666666;
  --color-gray-600: #54546d;
  --color-gray-700: #404040;
  --color-gray-800: #3d3d3d;
  --color-gray-900: #282c34;
  --color-gray-925: #181819;
  --color-gray-950: #0a0a0f;
  
  --font-family-sans: var(--font-jetbrains), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-jetbrains: var(--font-jetbrains);
}

html,
body,
#__next {
  height: 100%;
}

/**
 * Code block styles
 * MIT License
 * Copyright (c) 2018 Sarah Drasner
 * Sarah Drasner's[@sdras] Night Owl
 * Ported by Sara vieria [@SaraVieira]
 * Added by Souvik Mandal [@SimpleIndian]
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #d6deeb;
  font-family: var(--font-jetbrains);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

@media print {

  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-50 border bg-gray-900 border-gray-700;
}

:not(pre)>code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--color-gray-300);
  font-style: italic;
}

.token.punctuation {
  color: var(--color-cyan);
}

.namespace {
  color: rgb(178, 204, 214);
}

.token.deleted {
  color: var(--color-red);
  font-style: italic;
}

.token.symbol,
.token.property {
  color: var(--color-blue);
}

.token.tag,
.token.operator,
.token.keyword {
  color: var(--color-purple);
}

.token.boolean {
  color: var(--color-red-pale);
}

.token.number {
  color: var(--color-red-pale);
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
  color: var(--color-blue-light);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
  color: rgb(173, 219, 103);
}

.token.class-name,
.token.atrule,
.token.attr-value {
  color: rgb(255, 203, 139);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--color-gray-50);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
